# Practice Tasks

In [1]:
import pandas as pd
import numpy as np

In [4]:
path = '/Users/tuckeringlefield/Desktop/Data_Science/CS4580/Data/Wine_data/winemag-data-130k-v2.csv'
reviews_df = pd.read_csv(path, index_col=0)

reviews_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [3]:
# TaskL Who are the most common wine reviewers.
# Create a series whose index is the 'taster_twitter_handle
# whose values count how many review each person wrote

In [10]:
reviews_df['taster_twitter_handle'].value_counts()
# or
# reviews_written = reviews_df.groupby('taster_twitter_handle').size()

taster_twitter_handle
@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: count, dtype: int64

In [9]:
# Task: what is the best wine I can buy for a given ammount of money?
# create a series whose index is the wine price and whose values are the max number of points
# a wine costing that much was given in a review
# sort the series by price, ascending

In [16]:
best_rating_per_price = reviews_df.groupby('price')['points'].max().sort_index()
print(best_rating_per_price)

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [17]:
# Task: what are the minimum and maximum prices for each variety of wine?
# create a dataframe whose index is variety and whose values are min & max values
price_ends = reviews_df.groupby('variety').price.agg([min, max])
price_ends

/var/folders/yl/0k738k9x1wn7tbbplx4xpf6c0000gn/T/ipykernel_29631/3016586449.py:3: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  price_ends = reviews_df.groupby('variety').price.agg([min, max])
/var/folders/yl/0k738k9x1wn7tbbplx4xpf6c0000gn/T/ipykernel_29631/3016586449.py:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  price_ends = reviews_df.groupby('variety').price.agg([min, max])

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [20]:
# Task: What are the most expensive wine varieties?
# create a variable 'sorted_varieties' containing a copy of the Dataframe from the previous task
sorted_varieties = price_ends.sort_values(by=['min', 'max'], ascending=False)
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

In [18]:
# Task: create a series whose index is 'reviewers' and whose values are 
# the average review score given by the reviewer
average_rating_per_reviewer = reviews_df.groupby('taster_name')['points'].mean()
print(average_rating_per_reviewer)

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64